{% extends "base.html" %} {% block head %} {% block title %}"Login"{% endblock
%} {{ super() }} {% endblock %} {% block content %}
<h1>Log In:</h1>
<br />

<div>
    <form action="/agent/v1/login/authorize" method="post">
        <div class="container">
            <label for="username"><b>Username</b></label>
            <input
                type="text"
                placeholder="Enter Username"
                name="username"
                required
            />

            <label for="password"><b>Password</b></label>
            <input
                type="password"
                placeholder="Enter Password"
                name="password"
                required
            />

            <button type="submit">Login</button>
        </div>
    </form>
</div>
<div>
    <p>This is not editable.</p>
</div>
{% endblock %}
